@using System.Web.Optimization
@{
    ViewBag.Title = "Sales report application";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap")
    @RenderSection("Styles")
</head>
<body>
<div>
    @RenderBody()

    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @RenderSection("Scripts")
</div>
</body>
</html>